<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.age.simpleprojecttester.properties.SimpleProjecttesterPropertyPage"
            id="de.age.simpleprojecttester.properties.samplePropertyPage"
            name="Project-Test Properties"
            nameFilter="*">
         <enabledWhen>
         	<or>
	         	<and>
		            <instanceof
		                  value="org.eclipse.core.resources.IProject">
		            </instanceof>
	             <test
	                   property="org.eclipse.core.resources.projectNature"
	                   value="org.eclipse.jdt.core.javanature">
	             </test>
	            </and>
	            <instanceof
		                  value="org.eclipse.jdt.core.IJavaProject">
		            </instanceof>
            </or>
         </enabledWhen>
         
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.age.simpleprojecttester.commands.testProjectCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+F6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.age.simpleprojecttester.commands.TestProjectCommand"
            id="de.age.simpleprojecttester.commands.testProjectCommand"
            name="Test project">
      </command>
   </extension>

</plugin>
