<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Project-Test Properties"
            nameFilter="*.*"
            class="de.age.simpleprojecttester.properties.SimpleProjecttesterPropertyPage"
            id="de.age.simpleprojecttester.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.jdt.core.IJavaProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
